{% extends 'base.html' %}
{% block title %}Add Category - {{ shop.name }}{% endblock %}

{% block nav-elements %}
    <li><a href="{% url 'shops:shop_details_view' shop.id %}">Shop</a></li>
    <li><a href="{% url 'accounts:profile_view' %}">Profile</a></li>
    <li><a href="{% url 'accounts:logout_view' %}" class="login-btn" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a></li>
{% endblock %}

{% block main %}
<div class="container py-5">
    <h2 class="mb-4">Add New Category for {{ shop.name }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Add</button>
        <a href="{% url 'menu:manage_menu' shop.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
